{% include base_path %}
<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon -->
<link rel="icon" type="image/png" sizes="512x512" href="{{ base_path }}/images/android-chrome-512x512.png?v=4"/>
<link rel="icon" type="image/png" sizes="192x192" href="{{ base_path }}/images/android-chrome-192x192.png?v=4"/>
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_path }}/images/favicon-32x32.png?v=4"/>
<link rel="icon" type="image/png" sizes="16x16" href="{{ base_path }}/images/favicon-16x16.png?v=4"/>
<link rel="shortcut icon" href="{{ base_path }}/images/favicon.ico?v=4"/>
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon.png?v=4"/>
<meta name="theme-color" content="#ffffff"/>

<!-- end custom head snippets -->
