---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

{% if author.googlescholar %}
  <p>You can also find my articles on <a href="{{author.googlescholar}}">my Google Scholar profile</a>.</p>
{% endif %}

{% include base_path %}

<h2 class="pub-category-title">Publications and Submitted Papers</h2>
{% for post in site.publications reversed %}
  {% if post.category == "submitted" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2 class="pub-category-title">Working Papers</h2>
{% for post in site.publications reversed %}
  {% if post.category == "working" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2 class="pub-category-title">Works in Progress</h2>
{% for post in site.publications reversed %}
  {% if post.category == "wip" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2 class="pub-category-title">Publications in Business Analytics</h2>
{% for post in site.publications reversed %}
  {% if post.category == "analytics" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
