---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

{% if author.googlescholar %}
  <p>You can also find my articles on <a href="{{author.googlescholar}}">my Google Scholar profile</a>.</p>
{% endif %}

{% include base_path %}

<h2 class="pub-category-title">Publications and Submitted Papers</h2>
{% assign submitted = site.publications | where: "category", "submitted" | sort: "pub_number" %}
{% for post in submitted %}
  {% include archive-single.html %}
{% endfor %}

<h2 class="pub-category-title">Working Papers</h2>
{% assign working = site.publications | where: "category", "working" | sort: "pub_number" %}
{% for post in working %}
  {% include archive-single.html %}
{% endfor %}

<h2 class="pub-category-title">Works in Progress</h2>
{% assign wip = site.publications | where: "category", "wip" | sort: "pub_number" %}
{% for post in wip %}
  {% include archive-single.html %}
{% endfor %}

<h2 class="pub-category-title">Publications in Business Analytics</h2>
{% assign analytics = site.publications | where: "category", "analytics" | sort: "pub_number" %}
{% for post in analytics %}
  {% include archive-single.html %}
{% endfor %}
